@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  list-style: none;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #B4AEAE;
  align-items: center;
  padding: 0 1rem 1rem 0.5rem;
  margin: 2.313rem 1.938rem 0px 2.313rem;
}
header nav {
  display: flex;
  gap: 33px;
  font-family: "Poppins", sans-serif;
}
header nav ul {
  display: flex;
  align-items: center;
  gap: 33px;
}
header nav ul li {
  font-size: 16px;
}
header nav button {
  width: 189px;
  height: 60px;
  border-radius: 6px;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  gap: 10px;
  background-color: #16A34A;
  font-family: "Poppins", sans-serif;
  border: 1px solid;
  color: #FFFFFF;
  cursor: pointer;
}
header nav button:hover {
  background-color: #21C05C;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
main .hero {
  display: flex;
  align-items: center;
  margin: 114px 20px 137px 54px;
  justify-content: center;
}
main .hero h1 {
  font-family: "Poppins", sans-serif;
  color: #1F2937;
  font-size: 60px;
  font-weight: 700;
  line-height: 130%;
  max-width: 680px;
  margin-bottom: 25px;
}
main .hero h4 {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 100%;
  max-width: 680px;
  color: #4B5563;
  font-weight: 400;
  margin-bottom: 35px;
}
main .hero .hero-btnContainer {
  display: flex;
  gap: 43px;
}
main .hero button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 62px;
  width: 189px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  border: 1px solid;
  gap: 10px;
}
main .hero .hero-btnGreen {
  background-color: #21C05C;
  border-color: #21C05C;
  color: #FFFFFF;
}
main .hero .hero-btnBlue {
  border-color: #2563EB;
  color: #2563EB;
}
main .stats {
  display: flex;
  justify-content: center;
  background-color: #F3F5F8;
  width: 100%;
  height: 184px;
  align-items: center;
}
main .stats .stats-components {
  display: flex;
  min-width: 80%;
  justify-content: space-between;
}
main .stats .stats-components .green-stats {
  font-size: 40px;
  color: #16A34A;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
main .stats .stats-components .sub-stats {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #4B5563;
}
main .how-works {
  display: flex;
  flex-direction: column;
  margin-top: 110px;
  align-items: center;
  margin-bottom: 165px;
}
main .how-works .how-worksContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
main .how-works .how-worksContainer .how-worksText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
main .how-works .how-worksContainer .how-worksText h2 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 22px;
}
main .how-works .how-worksContainer .how-worksText h3 {
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 94px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .how-works .how-worksContainer .how-workTittleGreen {
  color: #16A34A;
}
main .how-works .how-worksContainer .how-workTittleBlue {
  color: #2563EB;
}
main .how-works .how-worksContainer .how-worksCardsContainer {
  display: flex;
  gap: 22px;
}
main .how-works .how-worksContainer .how-worksCards {
  border-radius: 8px;
  background-color: #F3F5F8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 481px;
  height: 491px;
}
main .how-works .how-worksContainer .how-worksCards h3 {
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 150%;
  gap: 8px;
  margin-bottom: 28px;
}
main .how-works .how-worksContainer .how-worksCards p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  color: #4B5563;
}
main .how-works .how-worksContainer .how-worksCards h4 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  color: #4B5563;
}
main .how-works .how-worksContainer .how-worksCards .how-workTittle {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
  margin-left: 29px;
}
main .how-works .how-worksContainer .how-worksCards .how-worksItens {
  display: flex;
  margin-bottom: 45px;
  margin-left: 29px;
}
main .how-works .how-worksContainer .how-worksCards .how-worksItens .workIcon-green {
  height: 32px;
  width: 32px;
  border-radius: 9999px;
  margin-right: 10px;
  background-color: #16A34A;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .how-works .how-worksContainer .how-worksCards .how-worksItens .workIcon-blue {
  height: 32px;
  width: 32px;
  border-radius: 9999px;
  margin-right: 10px;
  background-color: #2563EB;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .products-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 159px;
}
main .products-info .products-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
main .products-info .products-container .products-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
main .products-info .products-container .products-text h2 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 22px;
}
main .products-info .products-container .products-text h3 {
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 94px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .products-info .products-container .products-cardsContainer {
  display: flex;
  gap: 49px;
}
main .products-info .products-container .products-cardsContainer .products-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  border: 2px solid #16A34A;
  gap: 33px;
  height: 436px;
  width: 299px;
}
main .products-info .products-container .products-cardsContainer .products-cards h4 {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  color: #09090B;
}
main .products-info .products-container .products-cardsContainer .products-cards p {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 100%;
  color: #4B5563;
  max-width: 220px;
  text-align: center;
}
main .products-info .products-container .products-cardsContainer .products-cards .p-fone {
  max-width: 180px;
}
main .products-info .products-container .products-cardsContainer .products-cards button {
  height: 37px;
  width: 150px;
  border: 1px solid #21C05C;
  border-radius: 6px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: #FFFFFF;
  background-color: #16A34A;
}
main .products-info .products-container .products-cardsContainer .products-cards button:hover {
  background-color: #21C05C;
}
main .talk-about {
  display: flex;
  flex-direction: column;
  margin-bottom: 69px;
}
main .talk-about .talk-aboutContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
main .talk-about .talk-aboutContainer .talk-aboutText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .talk-about .talk-aboutContainer .talk-aboutText h2 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 22px;
}
main .talk-about .talk-aboutContainer .talk-aboutText h3 {
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 94px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .talk-about .talk-aboutContainer .talk-aboutCardsContainer {
  display: flex;
  gap: 50px;
}
main .talk-about .talk-aboutContainer .talk-aboutCardsContainer .talk-aboutCards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 280px;
  width: 350px;
  border: 1px solid #9CA3AF;
  border-left: 4px solid #9CA3AF;
  border-radius: 8px;
  gap: 25px;
  padding: 20px;
}
main .talk-about .talk-aboutContainer .talk-aboutCardsContainer .talk-aboutCards .talk-img {
  height: 40px;
  width: 40px;
}
main .talk-about .talk-aboutContainer .talk-aboutCardsContainer .talk-aboutCards .talk-pRegular {
  height: 210px;
}
main .talk-about .talk-aboutContainer .talk-aboutCardsContainer .talk-aboutCards p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #4B5563;
  max-width: 230px;
  height: 250px;
  padding-left: 40px;
}
main .talk-about .talk-aboutContainer .talk-aboutCardsContainer .talk-aboutCards .talkabout-imgstar {
  display: flex;
  justify-content: flex-start;
  padding-left: 40px;
}
main .talk-about .talk-aboutContainer .talk-aboutCardsContainer .talk-aboutCards .talk-aboutCardsInfos {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 40px;
  gap: 10px;
}
main .talk-about .talk-aboutContainer .talk-aboutCardsContainer .talk-aboutCards .talk-aboutCardsInfos .talk-aboutcardsTexts h5 {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #09090B;
  font-weight: 400;
}
main .talk-about .talk-aboutContainer .talk-aboutCardsContainer .talk-aboutCards .talk-aboutCardsInfos .talk-aboutcardsTexts h6 {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #6B7280;
  font-weight: 400;
}
main .make-the-difference {
  background-color: #F3F5F8;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  padding: 5rem 1.5rem;
  margin-top: 5rem;
  width: 100%;
  margin: auto;
}
main .make-the-difference .make-tittle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .make-the-difference h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
}
main .make-the-difference p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 150%;
  max-width: 600px;
}
main .make-the-difference button {
  height: 44px;
  width: 189px;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
  border: 1px solid #16A34A;
  cursor: pointer;
}
main .make-the-difference .start-now-button {
  background-color: #16A34A;
  color: #FFFFFF;
}
main .make-the-difference .start-now-button:hover {
  background-color: #21C05C;
}
main .make-the-difference .know-more-button {
  background-color: #FFFFFF;
  color: #16A34A;
}
main .make-the-difference .know-more-button:hover {
  color: #21C05C;
}/*# sourceMappingURL=style.css.map */